<main>
  <form #form="ngForm" (ngSubmit)="onSubmit(form)" class="search-container">
    <input name="searchString" ngModel />
    <button>Поиск</button>
  </form>


  <table>
    <thead>
      <tr>
        <th>№</th>
        <th>Название</th>
        <th>Адрес</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data$ | async; let i = index" (click)="onRowClick(item)">
        <td>{{ i + 1 }}</td>
        <td [innerHTML]="item.FullName | highlight: searchHighlightString"></td>
        <td>{{ item.Address }}</td>
      </tr>
    </tbody>
  </table>
</main>

<aside>
  <div *ngIf="selectedLibrary" class="selected-item">
    <h2>Выбранная библиотека</h2>
    <div *ngFor="let caption of captions$ | async; let s = index">
      <span>{{s}}</span>
    </div>
    <!-- <p><strong>Название:</strong> {{ selectedItem.FullName }}</p>
    <p><strong>Адрес:</strong> {{ selectedItem.Address }}</p> -->
  </div>
</aside>