<main>
  <div class="search-container">
    <input type="text" [(ngModel)]="searchQuery" placeholder="Введите запрос" />
    <button (click)="onSearch()">Поиск</button>
  </div>

  <!-- <table>
    <thead>
      <tr>
        <th>№</th>
        <th>Название</th>
        <th>Адрес</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data$ | async; let i = index" (click)="onRowClick(item)">
        <td>{{ i + 1 }}</td>
        <td [innerHTML]="item.FullName | highlight: searchQuery"></td>
        <td>{{ item.Address }}</td>
      </tr>
    </tbody>
  </table> -->
</main>

<aside>
  <div *ngIf="selectedItem" class="selected-item">
    <h2>Выбранная библиотека</h2>
    <p><strong>Название:</strong> {{ selectedItem.FullName }}</p>
    <p><strong>Адрес:</strong> {{ selectedItem.Address }}</p>
  </div>
</aside>